.post {

  margin-bottom: 20px;
  padding: 10px 0;

  border: none;
  border-left: 3px solid #333333;
  /*border-radius: 10px;*/
  width: 50%;

  h2 {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  p {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
  }

}
